<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name="com.winlator.XServiceTestActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|density|navigation"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="sensorLandscape"
           />
    </application>

</manifest>